/*
Developer: Alexis Tibbs 
Drexel User: ajt347

Rasauq Zodiac Calculator
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* cool var fors fonts and colors */
:root {
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Lato', sans-serif;
    --spaced-out: #09080F;
    --star-light: #FFFFF5;
    --pink-quasar-cta: #E64BFF;
    --the-abyss: linear-gradient(180deg, #09080F 56.25%, #3625A0 83.85%, #09080F 98.44%);
    --twilight-fire: linear-gradient(98.42deg, #E64BFF 7.92%, #651CC1 90.5%);

}

html {
    background: var(--the-abyss);
    color: var(--star-light);
}

/*fonts*/

h1, h2, h3 {
    font-family: var(--primary-font);
}

p {
    font-family: var(--secondary-font);
}


/*SECTION A*/

/*SECTION C*/
.all-characters {
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

}

.characters img{

    min-width: 139px;
    max-width: 243.25px;
    height: auto;
    margin: 1rem;
}
