@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/*
Developer: Alexis Tibbs 
Drexel User: ajt347

Rasauq Zodiac Calculator
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* cool var fors fonts and colors */
:root {
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Lato', sans-serif;
    --spaced-out: #09080F;
    --star-light: #FFFFF5;
    --pink-quasar-cta: #E64BFF;
    --the-abyss: linear-gradient(180deg, #09080F 56.25%, #3625A0 83.85%, #09080F 98.44%);
    --twilight-fire: linear-gradient(98.42deg, #E64BFF 7.92%, #651CC1 90.5%);

}

html {
    background: var(--spaced-out);
    color: var(--star-light);
}

/*fonts*/

h1, h2, h3, h4, h5 {
    font-family: var(--primary-font);
}

p, .zodiac-date {
    font-family: var(--secondary-font);
}
p {
    font-size:15px;
    line-height: 30px;
    font-weight: 400;
    color: #C5C4C8;
}


/* remove styles prior to zodiac activitation */ 

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 359px;
}

.header-wrapper {
    text-align: center;
}
h1, h2 {
    text-transform: uppercase;
}
#z-calculator-title, .zodiac-name, .zodiac-date, .char-music, h5 {
    font-weight: 300;
}

#z-calculator-title {
    font-size: 24px;
    line-height: 10px;
}

#z-calculator-title, .all-characters {
    letter-spacing: 0.22em;
}

#rasauq {
    font-size: 60px;
    letter-spacing: -0.09em;
    font-weight: 400;
    line-height:75px;
}

/*SECTION A*/

/*    border: 1px solid var(--star-light);
    border-radius: 10px;
    min-width: 584px;
    width: 304px;
    margin: 0 auto;*/
main {
    max-width: 1168px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.section-a {
    border-radius: 10px;;
    border: 1px solid var(--star-light);
    display: flex;
    margin: 0 auto;

}

.remove-init {
    width: 304px;
    text-align: center;
    padding: 7px;
}

/* displayed content when executed */
.section-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 584px;
}
.zodiac-image {
    width: 584px;
    height: auto;
}

/* add in when activated*/
.zodiac {
    position: relative;
    bottom: 20px;
    height: 160px;
    text-align: center;
}

.zodiac-sign {
    position: relative;
    bottom: 20px;
}
#changing-z-sign {
    width: 90px;
    height: auto;
}

.zodiac-name {
    font-size: 36px;
    letter-spacing: 0.3em;
}

.zodiac-date {
    line-height:15.6px;
    letter-spacing: 3.88px;
}

.u-pop-up {
    margin-bottom: 10px;
}

#funny-text {
    font-style: italic;
    display: block;
}

#all-chars {
    font-weight: bold;
    text-transform: uppercase;
    
}


/* CHARACTER DESCRIPTION*/

.character-description {
    max-width: 448px;
}

.character-intro {
    padding-bottom: 22px;

}
.exact-character {
    font-weight: 600;
    text-transform: uppercase;
    font-size:30px;
    letter-spacing:4.4px;
    padding-left: 20px;
}


/* music */

.char-music {
    font-size: 12.5px;
    margin-top: 55px;
}

a { 
    color: var(--pink-quasar-cta);
}


/* USER INPUTS / INTERACTION */

.user-interaction {
    width: 245.7px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#user-input {
    margin: 0 auto;
}

.birth-date {
    margin: 10px 0;
    height: 33px;
    width: 245.7px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding-left: 12px;
}

.z-button {
    width: 117.5px;
    height: 31.93px;
    margin: 0 auto 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    color: var(--star-light);
    background: var(--twilight-fire);
    border:none;
    font-family: var(--secondary-font);
    line-height: 19.2px;
}


/*SECTION B - ALL CHARACTERS */

.section-b {
    margin-top: 60px;
}
.all-characters {
    text-align: center;
    font-size: 20px;
    font-weight:400;
    margin-bottom: 16px;

}

.wrapper-04 {
    margin: 0 auto 15%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.characters {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border:none;
}
.characters img{
    width: 139px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}


/* Help Button & Section  */

#visible {
    padding: 1.25rem 2rem;
    background-color:  var(--spaced-out);
    border: 1px solid var(--star-light);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 30%;
    width: 40%;
    text-align: center;
}

.u-pop-up {
    height: 31.93px;
    color: var(--star-light);
    background-color: transparent;
    border: none;
    text-decoration: underline;
    margin: 0 auto;
    display: block;
}

#helpPara {
    padding: 1rem .25rem;
}
.u-pop-up:hover {
    color: var(--pink-quasar-cta);
}


/* credit to free images*/
#fine {
    font-size: 8px;
    margin: 3rem 50% 0;
    white-space: nowrap;
    
}

